:root {
	--font: 'Sharp Sans', Helvetica, sans-serif;
	--primary: #B5C7AE;
	--secondary: #394437;
	--bg1: #F2F2F2;
	--bg2: rgba(181,199, 174, 0.35);
	--bg3: rgba(57, 68, 55, 0.1);
	
	--memberimage: 450px;
}

a {
   outline: 0;
}

a:focus { outline: 0; }

body {
	font-family: var(--font);
	background: var(--bg1);
	font-weight: normal;
    font-style: normal;
    
    overflow-x: hidden;
}

div#content > div {
	position: absolute;
	width: 100%;
	overflow-x: hidden;
}


main {
	position: relative;
}

.base-page-section {
	margin: 250px auto 150px auto;
	max-width: 1000px;
	padding: 0 50px;
}

.base-page-section header.entry-header {
	margin-bottom: 100px;
}

.base-page-section h2 {
	margin-top: 50px;
	margin-bottom: 25px;
	padding-bottom: 0px;
	border-bottom: 1px solid;
	
	font-size: 28px;
	line-height: 1.5em;
	display: inline-block;
}

.base-page-section h3 {	
	font-size: 22px;
	line-height: 1.4em;
	margin-top: 30px;
}

.base-page-section h4 {	
	font-size: 18px;
	line-height: 1.4em;
	margin-top: 20px;
}

.base-page-section h5 {	
	font-size: 20px;
	line-height: 1.4em;
	margin-top: 20px;
}

.base-page-section p {
	line-height: 2em;
}

.base-page-section ul {
	margin-left: 10px;
}

.base-page-section ul li {
	font-size: 18px;
    line-height: 2em;
    font-weight: 600;
    margin-bottom: 25px;
}

.base-page-section a {
	color: var(--secondary);
	text-decoration: none;
	line-height: 1.4em;
}



path.mainpath ,
circle.mainpath  {
	fill: none !important;
	stroke-width: 1 !important;
    stroke: #dadada !important;
    shape-rendering:geometricPrecision ;
}

.dot circle, .round {
	fill: #9ba59b !important;
}

.dot ellipse, .round {
	stroke: #9ba59b !important;
}


/* Typography */

h1 {
	font-size: 72px;
	line-height: 1.2em;
}

h1 strong { font-weight: 700; color: var(--primary); }

.home-intro-text h1 {
    font-size: 9vmin;
    line-height: 1.1em;
    margin-bottom: 0;
}

h2 {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.2em;
}

h2.small {
	font-size: 20px;
	line-height: 1.2em;
}

h3 {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.4em;
}

h4 {
	font-size: 24px;
	line-height: 1.4em;
}

h4.lead {
	font-weight: 700;
	color: var(--primary);
	margin-bottom: 100px;
}

.bg2 h4.lead { color: var(--secondary); }

h5 {
	font-size: 20px;
	line-height: 1.4em;
}

h6 {
	font-size: 18px;
	line-height: 1.4em;
}

p {
	font-size: 18px;
	line-height: 1.8em;
	font-weight: 600;
}

.l { font-weight: 300; }
.b { font-weight: bold; }
.bl { font-weight: 900; }
.sb { font-weight: 700; }

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
	color: #394437;
	margin: 0 0 20px 0;
}

@media screen and (max-width: 1100px) {
	.home-intro-text h1 {
		font-size: 8vmin;
	}
}

@media screen and (max-width: 1000px) {
	h1 {
		font-size: 54px;
		line-height: 1.1em;
	}
	
	h1 br {display: none;}
	
	h2 {
		font-size: 36px;
		line-height: 1.1em;
	}
	
	h2.small {
		font-size: 18px;
		line-height: 1.2em;
	}
	
	h3 {
		font-size: 24px;
		line-height: 1.4em;
	}
	
	h4 {
		font-size: 22px;
		line-height: 1.4em;
	}
	
	h5 {
		font-size: 18px;
		line-height: 1.4em;
	}
	
	h6 {
		font-size: 16px;
		line-height: 1.4em;
	}
	
	p {
		font-size: 18px;
		line-height: 1.6em;
		font-weight: 600;
	}
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 36px;
		line-height: 1.1em;
	}
	
	h2 {
		font-size: 28px;
		line-height: 1.1em;
	}
	
	h2.small {
		font-size: 18px;
		line-height: 1.2em;
	}
	
	h3 {
		font-size: 24px;
		line-height: 1.4em;
	}
	
	h4 {
		font-size: 20px;
		line-height: 1.4em;
	}
	
	h5 {
		font-size: 14px;
		line-height: 1.4em;
	}
	
	h6 {
		font-size: 12px;
		line-height: 1.4em;
	}
	
	p {
		font-size: 16px;
		line-height: 1.7em;
		font-weight: 600;
	}
}

@media screen and (max-width: 600px) {
	h1 {
	   font-size: 8.25vmin;
		line-height: 1.3em;
	}
	
	h2.small {
	    font-size: 13px;
	    line-height: 1.1em;
	    margin-bottom: 10px;
	}
	
	br {
		display: none;
	}
	
	.home-intro-text h1 {
		font-size:11vmin;
	}
}


/* General */

.bg1 {
	background: var(--bg1);
}

.bg2 {
	background: var(--bg2);
}

.bg3 {
	background: var(--bg3);
}

.contain {
	padding: 100px 9%;
}

.contain-lg {
	padding: 200px 9%;
}

.contain-inner {
	max-width: 1400px;
	margin: auto;
}

.padding-svg {
	position: relative;
	padding: 0 9%;
}

.svg-graphic {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.svg-graphic > svg.main-svg {
	position: absolute;
    top: 50%;
    left: 50%;
    height: 110%;
    width: 110%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.col2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10px;
    grid-row-gap: 50px;
}

.col3 {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 50px;
}

.col4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.mobile-arrow {
	display: none;
	margin: 20px 0 0 0;
}

.mobile-arrow svg {
	animation: bounce 1s ease infinite alternate;
}

@keyframes bounce {
	0% {
		transform: translateY(-5px);
	}
	
	100% {
		transform: translateY(5px);
	}
}

@media screen and (max-width: 1300px) {	
	.col4 {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.contain.port {
		padding: 7%;
	}
}

@media screen and (max-width: 1000px) {
	.col2 {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 10px;
	    grid-row-gap: 50px;
	}
}

@media screen and (max-width: 850px) {
	.col4, .col3 {
		grid-template-columns: repeat(2, 1fr);
	}
	
	h4.lead {
	    font-weight: 700;
	    color: var(--primary);
		margin-bottom: 25px;
	}
	
	.portfolio h4.lead {
	    padding: 5% 0 5% 5%;
	}
	
	.contain,
	.contain-lg {
		padding: 75px 35px;
	} 
	
	.strategy-secondary.contain {
		padding-top: 10px;
	}
	
	.contain.port {
		padding: 15px;
	}
	
	.team-member-info .team-member-name, .team-member-info .team-member-title {
	    font-size: 14px;
	    line-height: 1.2em;
	    margin-bottom: 3px;
	    opacity: 0.75;
	}
	
	.mobile-arrow {
		display: block;
	}
}



/* Box colors */
.bg-1 {
	background: #ECEFF1;
	color: #37474f;
}
.bg-2 {
	background: #7986cb;
	color: #ECEFF1;
}
.bg-3 {
	background: #37474f;
	color: #fff;
}

/* Common button styles */
.button {
	font-family: var(--font);
	font-weight: bold;
	
	border-radius: 0;
	min-width: 150px;
	max-width: 250px;
	margin: 0 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	
	cursor: pointer;
}

.button.button-nomargin {
	margin: 0;
}

.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
	color: #37474f;
	border-color: #37474f;
}
.bg-2 .button {
	color: #ECEFF1;
	border-color: #ECEFF1;
}
.bg-3 .button {
	color: #fff;
	border-color: #fff;
}

/* Sizes */
.button--size-s {
	font-size: 14px;
}
.button--size-m {
	font-size: 16px;
}
.button--size-l {
	font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
	letter-spacing: 2px;
	text-transform: uppercase;
}
.button--text-thin {
	font-weight: 300;
}
.button--text-medium {
	font-weight: 500;
}
.button--text-thick {
	font-weight: 600;
}
.button--round-s {
	border-radius: 5px;
}
.button--round-m {
	border-radius: 15px;
}
.button--round-l {
	border-radius: 40px;
}

/* Borders */
.button--border-thin {
	border: 1px solid;
}
.button--border-medium {
	border: 2px solid;
}
.button--border-thick {
	border: 3px solid;
}

/* Individual button styles */

/* Isi */
.button--isi {
	padding: 1.5em 2em;
	color: #5E675D;
	background: #B5C7AE;
	overflow: hidden;
	font-weight: bold;
}
.button--isi::before {
	content: '';
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/* 	border-radius: 50%; */
	background: #d0dcca;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: translateX(-100%);
	transform:  translateX(-100%);
	-webkit-transition: -webkit-transform 0.225s, opacity 0.225s;
	transition: transform 0.225s, opacity 0.225s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}
.button--isi .button__icon {
	vertical-align: middle;
	color: white;
}
.button--isi > span {
	vertical-align: middle;
	padding-left: 0.75em;
	position: relative;
	z-index: 1;
}
.button--isi:hover::before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}


input[type="email"], input[type="text"] {
	font-family: var(--font);
	font-weight: 300;
	border: none;
	background: transparent;
    border-bottom: 2px solid #C3D0BD;
    border-radius: 0;
    color: black;
    font-size: 18px;
    
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

input[type="email"]:focus, input[type="text"]:focus {
	outline:0;
	border-bottom: 2px solid var(--secondary);
}

input[type="email"]::placeholder, input[type="text"]::placeholder {
	color: var(--primary);
}


/* Header */

header#masthead {
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	background: var(--bg1);
	padding: 25px;
	z-index: 2;
	
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.admin-bar header#masthead { top: 32px; }

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-inner .custom-logo {
	max-width: 200px;
	width: 100%;
}

.menu-main-menu-container {display: flex; align-items: center;}

.header-inner ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.header-inner li {
	position: relative;
	
	font-family: var(--font);
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 15px;
}

.header-inner li:before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--primary);
	
	transform: scale(0);
	-webkit-transform: scale(0);
	transform-origin: left center;
	
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.header-inner li:hover:before {
	transform: scale(1);
	-webkit-transform: scale(1);
}



.header-inner a {
	color: rgba(0,0,0,0.6);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 0;
    
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.header-inner a.custom-logo-link {
	padding: 0;
}
.header-inner li.news:before {
	content: none;	
}

.header-inner .news a {
	padding: 15px 20px;
	background-color: var(--primary);
	font-size: 12px;
    font-weight: bold;
    color: rgba(57, 68, 55, 0.8);
}

.header-inner .news a:hover {
	background-color: rgba(180, 199, 173, 0.66);
}

.header-inner li.current_page_item a {
	color: #000000;
}

header#masthead.headroom {
    will-change: transform;
    transition: transform 200ms linear, background 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
header#masthead.headroom--top {
	background: transparent;
}

header#masthead.headroom--pinned {
    transform: translateY(0%);
}
header#masthead.headroom--unpinned {
    transform: translateY(-100%);
}

.svg-icon {
    width: 25px;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    border-radius: 0;
    
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.svg-icon path {
	transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.svg-icon:hover {
	cursor: pointer;
}

.svg-icon:hover path {
	fill: var(--primary);
}

.svg-icon svg {
	width: 100%;
}

@media screen and (min-width: 880px) {
	#trigger-overlay {
		display: none;
	}
}
@media screen and (max-width: 879px) {
	#primary-menu {
		display: none;
	}
	
	header#masthead.headroom--pinned.headroom--not-top {
		box-shadow: 0 0 10px rgba(0,0,0,0.15);
	}
	
	.header-inner .custom-logo {
		max-width: 125px;
		vertical-align: middle;
	}
	
	header#masthead {
		padding: 20px;
	}
}


/* Overlay style */

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--bg1);
	z-index: 3;
	overflow-y: scroll;
}

/* Overlay closing cross */
.overlay .overlay-close {
	position: absolute;
    right: 20px;
    top: 25px;
    overflow: hidden;
    border: none;
    color: transparent;
    outline: none;
    z-index: 100;
}

.overlay .overlay-close svg {
	width: 20px;
	
}
/* Menu style */
.overlay nav {
	text-align: left;
	position: relative;
	padding: 25px;
}

.overlay ul {
	padding: 0;
	margin: 0;
    text-align: left;
    display: block;
    width: 100%;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.overlay ul li a {
    font-size: 5vmin;
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: var(--secondary);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: var(--primary);
}

@media screen and (max-width: 600px) {
	.overlay ul li a {
	    font-size: 8vmin;
	    font-weight: 600;
	    display: block;
	    text-decoration: none;
	    color: var(--secondary);
	    -webkit-transition: color 0.2s;
	    transition: color 0.2s;
	}
}

/* Effects */
.overlay-font {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-font.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-font nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-font nav ul {
	opacity: 0.4;

	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-font.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-font.close nav ul {

}

#social-menu-mobile {
	display: flex;
    padding: 25px 0;
}

#social-menu-mobile li {
	margin-right: 25px;
    display: inline-block;
    border-bottom: none;
}

#social-menu-mobile li a {
	font-size: 14px;
    font-weight: 600;
}

.overlay-header {
	padding: 20px;
}

.overlay-header img,
.overlay-header svg {
	max-width: 150px;
	vertical-align: middle;
}


@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}


@media screen and (max-width: 450px) {
	.header-inner .custom-logo,
	.overlay-header img, .overlay-header svg {
		max-width: 37vw;
	}
}

/* Footer */

footer.site-footer {
	background: white;
	padding: 8%;
}

footer .footer-inner {
	max-width: 1400px;
	margin: auto;
}

.mobility-matters {
	margin-bottom: 115px;
}

.mobility-matters-inner {
	width: 100%;
	max-width: 650px;
}

.mobility-matters form {
	padding-top: 35px;
}

.mobility-matters .mc4wp-form-fields div {
	display: flex;
}

.mobility-matters .mc4wp-form-fields div input:first-child {
	flex-grow: 1;
}

.mc4wp-response {
	margin-top: 30px;
}

.mc4wp-response p {
	color: var(--primary);
    font-weight: bold;
    padding-left: 20px;
    border-left: 5px solid;
}

.footer-info {
	display: flex;
	justify-content: space-between;
}

#footer-menu {
	list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#footer-menu li {
	margin: 0 15px;
}

#footer-menu li a {
	text-decoration: none;
	color: #394437;
}

.border-right {    
	padding-right: 30px;
    border-right: 1px solid #BCBCBC;
}

.copyright {
	color: #394437;
	font-size: 12px;
}

@media screen and (max-width: 1100px) {
	.footer-info {
		flex-direction: column-reverse;
	}
	
	#footer-menu {
		margin-bottom: 50px;
		flex-wrap: wrap;	
	}
	
	#footer-menu li {
		margin: 10px 15px;
	}

}

@media screen and (max-width: 800px) {
	
	#footer-menu {
		display: block;
	}
	footer.site-footer {
		padding: 15% 8%;
	}
	
	#footer-menu li {
	    margin: 0;
	    padding: 5px 0;
	}
	
	#footer-menu li.border-right {
		border-bottom:  1px solid #BCBCBC;
		border-right: 0;
		margin: 0 0 10px 0;
		padding: 5px 0 10px 0;
	}
	.mobility-matters { 
		margin-bottom: 75px;
	}
	
	.mobility-matters .mc4wp-form-fields div {
		display: grid;
		grid-gap: 20px;
	}
	
	.mobility-matters .mc4wp-form-fields div button {
		margin: 0;
	    width: 100%;
	    max-width: 100%;
	    min-width: auto;
	}
}

/* Intro  */

.intro {
	position: relative;
/*     min-height: 95vh; */
    height: 100%;
    display: flex;
    align-items: center;
/*     max-height: 1000px; */
    padding: 300px 8%;
}

.team .intro {
	position: relative;
    min-height: 70vh;
    height: 100%;
    display: flex;
/*     max-height: 1000px; */
    align-content: flex-end;
    padding: 300px 8% 150px 8%;
}

.intro-inner {
	position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    z-index: 1;
}

.intro-text h1 {
	margin: 0 0 25px 0;
}

.intro-text h2 {
	margin-bottom: 25px;
    color: var(--primary);
    font-weight: 700;
}

.team .intro-text h1,
.contact .intro-text h1 {
	font-size: 48px;
    line-height: 1.4em;
    max-width: 1225px;
}

.intro-text span.quote {
	display: inline-block;
	margin-left: -30px;
}

.upper-dash {
	position: relative;
}

.upper-dash:before {
	content: "";
	position: absolute;
	top: -30px;
	height: 3px; 
	width: 50px;
	background-color: var(--primary);
}

.dash {
	display: inline-block;
	position: relative;
}

.dash:after{
	content: "";
    position: absolute;
    top: 50%;
    right: -100px;
    height: 2px;
    background-color: var(--primary);
    width: 75px;
}

@media screen and (max-width: 1300px) {
	.team .intro-text h1 {
		font-size: 48px;
		line-height: 1.3em;
	}
	
	.team .intro-text h1 br {display: none;}
}

@media screen and (max-width: 1000px) {
	.intro-text span.quote {
		display: inline-block;
		margin-left: 0px;
	}
}

@media screen and (max-width: 850px) {
	.team .intro-text h1, .contact .intro-text h1 {
		font-size: 36px;
		line-height: 1.3em;
	}
	
	.team .intro,
	.intro { 
		align-items: flex-start;
		min-height: auto;
		max-height: none;
		padding: 150px 8% 75px;
	}

	.portfolio .intro,
	.newsletter .intro {
		padding: 150px 8% 70vw;
	}
		
	.dash:after {
	    content: "";
	    position: absolute;
	    top: 50%;
	    right: -48px;
	    height: 2px;
	    background-color: var(--primary);
	    width: 35px;
	}
}

@media screen and (max-width: 600px) {
	.team .intro-text h1, .contact .intro-text h1 {
		font-size: 7.3vmin;
		line-height: 1.3em;
	}
}


 
/* Portfolio */


.portfolio-comp {
	display: block;
	position: relative;
	overflow: hidden;
	padding-top: 100%;
	background-color: #F7F8F7;
	
	cursor: pointer;
}


.portfolio-comp::before {
	content: '';
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/* 	border-radius: 50%; */
   background: rgba(245, 245, 245, 1);
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	opacity: 0;
/*
	-webkit-transform: translateY(101%);
	transform:  translateY(101%);
*/
	-webkit-transition: -webkit-transform 0.25s, opacity 0.15s;
	transition: transform 0.25s, opacity 0.15s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}


.portfolio-comp:hover:before {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform:  translateY(0);
}

.portfolio-comp::after {
	content: "";
	position: absolute;
	height: 10px;
	width: 100%;
	top:0;
	left: 0;
	
	background-color: var(--primary);
	
	transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform-origin: top;	
	
	transition: transform 0.25s;
	-webkit-transition: transform 0.25s;
	z-index: 1;
}

.portfolio-comp:hover::after {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
}

.portfolio-comp-inner {
	position: absolute;
    top: 0;
    left: 0;
    padding: 13%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.portfolio-comp img {
	position: absolute;
    left: 50%;
    top: 0%;
    width: auto;
    height: 70%;
    opacity: 0.75;
    max-width: 300px;
    transform:  translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: all 0.225s ease;
    -webkit-transition: all 0.225s ease; 
  }


.portfolio-comp:hover img {	
	opacity: 1;
}


.portfolio-comp .portfolio-comp-info {
	position: relative;
	
	transition: all 0.225s ease;
	-webkit-transition: all 0.225s ease;
}

.portfolio-comp.portfolio-acquired .portfolio-comp-info {
	
}

.portfolio-comp:hover .portfolio-comp-info {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}

.portfolio-description {
    font-size: 1.5vmin;
    font-weight: 600;
    line-height: 1.4em;
    margin: 0 auto 20px auto;
    max-width: 220px;
    color: #b2b2b2;
    
    transition: all 0.225s ease;
	-webkit-transition: all 0.225s ease;
}


.portfolio-comp:hover .portfolio-description {	
	color: #6a6a6a;	
}


.portfolio-description-ae-title {
	position: relative;
	display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: var(--primary);
}


.portfolio-description-ae-who {
	visibility: hidden;
	opacity: 0;
    display: block;
    transform: translateY(0) translateX(-50%);
    -webkit-transform: translateY(0) translateX(-50%);
    font-size: 14px;
    font-weight: 600;
    color: #b2b2b2;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
}

.portfolio-comp.portfolio-acquired:hover .portfolio-description-ae-who {
	visibility: visible;
	opacity: 1;
    transform: translateY(25px) translateX(-50%);
    -webkit-transform: translateY(25px) translateX(-50%);
}

.portfolio-comp.portfolio-acquired:hover  .portfolio-comp-info {
	transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
}

.portfolio-graphic {
	position: absolute;
    right: 10vw;
    top:50%;
    height: 70vh;
    width: 70vh;
    max-height: 1000px;
    transform: translateY(-50%);
    z-index: -1;
    
/*     animation: rotate 120s ease infinite both; */
}



@keyframes rotate {
	0% {
		transform: translateY(-50%) rotate(0);
	}
	
	100% {
		transform: translateY(-50%) rotate(360deg);
	}
}



.portfolio-graphic #mainlines {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1100px) {
	.portfolio-description {
   		 font-size: 1.3vmin;
    }
}

@media screen and (max-width: 850px) {
	.portfolio-comp-inner {
		padding: 0;
	}
	
	.portfolio-description {
   		margin-bottom: 0;
    }
    
    .portfolio-description-ae-who {display: none;}
    
    .portfolio-description-ae-title {color: white; font-size: 10px;}
    
    .portfolio-description-ae {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    background-color: var(--primary);
	    padding: 0px 7px 2px;
    }
    
    .portfolio-comp-info {
	    padding: 20% 10%;
    }
    
    .portfolio-description {
	    font-size: 2.8vw;
    }
    
    .portfolio-graphic {
		top: auto;
	    bottom: 10vw;
	    right: 20vw;
	    left: auto;
	    width: 60vw;
	    height: 60vw;
	    transform: none;
	}
	
	.portfolio-comp.portfolio-acquired:hover  .portfolio-comp-info {
		transform: translateY(0);
	    -webkit-transform: translateY(0);
	}
	
	@keyframes rotate {
		0% {
			transform: rotate(0);
		}
		
		100% {
			transform: rotate(360deg);
		}
	}
	
	.portfolio-comp img { 
		height: 70%;	
	}
}

@media screen and (max-width: 850px) {  
    .portfolio-comp-info {
	    padding: 22% 12%;
    }
}

/* Team */

.team-member-open:hover {
	cursor: pointer;
}

.team-member-open:hover .team-member-photo img {
	opacity: 1;
}

.team-member-photo {
	position: relative;
	overflow: hidden;
	
	width: 100%;
	height: 33vw;
	max-height: 600px;
}

.team-member-photo:before {
	content: "";
	position: absolute;
	height: 10px;
	width: 100%;
	top:0;
	left: 0;
	
	background-color: var(--primary);
	
	transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform-origin: top;	
	
	transition: transform 0.25s;
	-webkit-transition: transform 0.25s;
	z-index: 1;
}



.team-member-open:hover .team-member-photo:before {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
}

.team-member-photo img {
	opacity: 0.9;
	width: 100%;
	vertical-align: middle;
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.team-member-info { margin-top: 20px; }

.team-member-info .team-member-name, 
.team-member-info .team-member-title {
	font-size: 18px;
	margin-bottom: 3px;
	opacity: 0.65;
	
	transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
}

.team-member-open:hover .team-member-info .team-member-name, 
.team-member-open:hover .team-member-info .team-member-title {
	opacity: 1;
}

.team-member-info .team-member-title {
	font-weight: normal;
}

@media screen and (max-width: 850px) {
	.team-member-info .team-member-name, .team-member-info .team-member-title {
	    font-size: 14px;
	    line-height: 1.2em;
	    margin-bottom: 3px;
	    opacity: 0.75;
	}
}


.noscroll { overflow: hidden; }

.member-overlay[aria-hidden="true"] { 
	visibility: hidden;
	opacity: 0;
}
.member-overlay[aria-hidden="false"] { 
	visibility: visible;
	opacity: 1;
}

.fa[aria-hidden="true"] { display: block; }

.exit {
	position: fixed;
	right: 50px;
	top: 50px;
	width: 25px;
	height: 25px;
	z-index: 999;
}

.member-nav {
	position: relative;
	z-index: 9999;
	display: inline-block;
}

.member-overlay { 
   position: fixed; 
   overflow-y: scroll;
   width: 100vw;
   top: 0; right: 0; bottom: 0; left: 0; 
   z-index: 99999;
   background-color: white;
   
   	transition: all 0.225s ease;
	-webkit-transition: all 0.225s ease;
 }
 

.member-overlay-inner {
	position: relative;
	top:0;
	left: 0;
	max-width: 1600px;
	min-height: 100vh;
	margin: auto;
}

.bio {
	position: relative;
    top: 0;
    left: 0;
    margin-bottom: 100px;
    padding: 0 50px;
    opacity: 0;
    display: none;
	
	transition: all 0.225s ease;
	-webkit-transition: all 0.225s ease;
}

.bio-inner {
	display: grid;
    grid-template-columns: var(--memberimage) 1fr;
    grid-gap: 100px;
}

.bio .team-member-photo img {
	position: fixed;
    top: 50%;
    width: var(--memberimage);
    height: auto;
    transform: translateY(calc(-50%));
    -webkit-transform: translateY(calc(-50%));
}

.bio-info {
	position: relative;
    margin-top: 30vh;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 145px;
    grid-row-gap: 30px;
    grid-column-gap: 65px;
}

.bio-name {
	position: relative;
	align-self: flex-end;
}

.bio-name .team-member-name {
	font-size: 38px;
    font-weight: 600;
    margin-bottom: 0px;
}

.bio-name .team-member-title {
	font-size: 24px;
    font-weight: 300;
}

.bio-name h5 {
	font-size: 14px;
    padding-top: 5px;
}

.bio-name h5 span {
	display: inline-block;
    color: var(--primary);
    padding-right: 7px;
}

.bio-name h5 svg {
	display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(-90deg);
    margin-right: 7px;
}

.bio .social-links {
	display: flex;
    align-self: flex-end;
    margin-bottom: 25px;
}

.bio .social-links .social-icon {
    margin-right: 15px;
}
.bio .social-links .social-icon a {
	color: black;
    text-decoration: none;
    font-size: 20px;
    
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.bio .social-links .social-icon:hover a {
	color: var(--primary);
}


.bio-info:after {
    content: "";
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.15);
}

.bio-content p {
	font-size: 18px;
    line-height: 1.7em;
    margin-bottom: 30px;
}

.member-nav {
    position: absolute;
    right: 50px;
    width: 200px;
    z-index: 9999;
    display: inline-block;
    top: calc(33vh + 145px);
}

.member-nav h4 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
    margin-top: 25px;
}

.member-nav h4:first-child {
	margin-top: 0;
}

.member-nav-item.active {
    font-weight: 600;
    text-decoration: underline;
    
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.member-nav-item:hover {
	color: var(--primary);
	cursor: pointer;
}

.member-nav-item {
    font-weight: 300;
    font-size: 14px;
    margin: 2px 0;
}

@media screen and (max-width: 1400px) { 
	.bio {
	    padding: 0 25px;
	}

	.bio-inner {
	    grid-gap: 50px;
	}
	
	.member-nav { 
		right: 25px;	
	}
	
	.bio-info {
		grid-column-gap: 40px;
	}
}

@media screen and (max-width: 1300px) {
	:root {
		--memberimage: 350px;
	}
}

@media screen and (max-width: 1100px) {
	.bio {
	    padding: 0 75px 0 25px;
	    margin-bottom: 50px;
	}
	
	.bio-info {
	    grid-template-columns: 1fr;
	    display: block;
	}
	
	.member-nav {
		position: relative;
		display: block;
	    right: auto;
	    left: calc(75px + var(--memberimage));
	    margin-bottom: 100px;
	    top:auto;
	}
	

}


@media screen and (max-width: 960px) {
	:root {
		--memberimage: 275px;
	}
}


@media screen and (max-width: 850px) {
	
	:root {
		--memberimage: 100%;
	}
	
	.bio {
		padding: 100px 35px 35px;
	}
	
	.bio-inner {
	    grid-template-columns: 1fr;
	}
	
	.bio .team-member-photo img {
	    position: relative;
	    top: auto;
	    width: var(--memberimage);
	    max-width: 100%;
	    transform: none;
	}
	
	.team-member-photo {
		height: 58vw;
	}
	
	.bio-info {
		margin-top: 0;
		grid-template-rows: 75px;
	}
	
	.member-nav {
	    position: relative;
	    display: block;
	    right: auto;
	    left: auto;
	    margin-bottom: 100px;
	    top: auto;
	    padding: 0 35px;
	}
	
	.bio-name {
		padding-bottom: 5px;
	    margin-bottom: 30px;
	    border-bottom: 1px solid rgba(0,0,0,0.15);
	}
	
	.bio-name .team-member-name {
		font-size: 28px;
	    font-weight: 600;
	    margin-bottom: 5px;
	}
	
	.bio-name .team-member-title {
		font-size: 24px;
	    font-weight: 300;
	}
	
	
	.bio-info:after {
	    content: none;
	    position: absolute;
	    top: 90px;
	    left: 0;
	    width: 100%;
	    height: 1px;
	}
	
	.exit {
	    position: fixed;
	    right: 20px;
	    top: 20px;
	    width: 20px;
	    height: 20px;
	    z-index: 999;
	}
}


/* Home */

.home-text-block {
	margin: 25px 0 50px 0;
}

.home-text-block h2 {
	font-size: 6vmin;
    line-height: 1.3em;
}

@media screen and (max-width: 850px) {
	.home-text-block {
		margin: 15px 0 25px 0;
	}
	
	.home-text-block h2 {
		font-size: 6.5vmin;
	    line-height: 1.4em;
	}
}

/* Home Intro */

.home-intro {
	position: relative;
    height: 100%;
    overflow: hidden;
}

.home-intro-inner {
	position: relative;
    width: 100%;
    margin: auto;
    max-width: 1400px;
    
    display: grid;
    align-items: center;
    grid-template-rows: 90vh 50vh;
    grid-template-columns: 1fr 1fr;
}

.home-intro-text {
	transform: translateY(5vh);
	grid-column-start: 1;
    grid-column-end: 3;
}

.home-intro-subhead {
	position: relative;
	grid-column-start: 2;
	align-self: flex-start;
}

.home-intro-subhead h3 {
	font-weight: 900;
}

.home-intro-subhead p {
	max-width: 450px;
}

@media screen and (max-width: 1400px) { 
	.home-intro-inner {
		position: relative;
	    width: 100%;
	    margin: auto;
	    max-width: 1400px;
	    
	    display: grid;
	    align-items: center;
	    grid-template-rows: 80vh 50vh;
	    grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 1200px) { 
	.home-intro-inner {
		position: relative;
	    width: 100%;
	    margin: auto;
	    max-width: 1400px;
	    
	    display: grid;
	    align-items: center;
	    grid-template-rows: 70vh 50vh;
	    grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 850px) {
	.home-intro-inner {
	    position: relative;
	    width: 100%;
	    margin: auto;
	    max-width: 1400px;
	    display: grid;
	    
	    grid-row-gap: 300px;
	    align-items: center;
	        grid-template-rows: 1fr;
    padding-bottom: 50px;
	    grid-template-columns: 1fr;
	}
	
	.home-intro-text {
	    padding: 120px 0 50px;
	    grid-column-start: 1;
	    grid-column-end: 3;
	}
	
	.home-intro-graphic.svg-graphic {
		top: 30%;
		height: 80%;
	}
}


/* Home Portfolio */

.home-portfolio-logos a:first-child, 
.home-portfolio-logos a:nth-child(4) {
	grid-column-start: 2; 
}

@media screen and (max-width: 1300px) {
	.home-portfolio-logos a:first-child, 
	.home-portfolio-logos a:nth-child(4) {
		grid-column-start: unset; 
	}
}

@media screen and (max-width: 1300px) {
	.home-portfolio-logos {
		margin-top: 50px;
	}
}

@media screen and (max-width: 850px) {
	.home-portfolio-logos a:nth-child(n+5) {
		display: none;
	}
}

/* Home Strategy */

.home-strategy {
	padding: 9% 9% 50vh 9%;
}

.dot {
	position: absolute;
	left: -9999px;
	width: 80px;
	z-index: 0;
}

.dot-animate {
	transform-origin: center;
	animation: pulseLarge 4s infinite both;
}

.port-dot2 .dot-animate {
	animation: pulseLarge 4s infinite both;
	animation-delay: 2s;
}

.port-dot3 .dot-animate{
	animation: pulseLarge 4s infinite both;
	animation-delay: 1s;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}


@keyframes pulseLarge {
	0% {
		transform: scale(0.3);
	}

	50% {
		transform: scale(0.6);
	}

	100% {
		transform: scale(0.3);
	}
}

.home-strategy-graphic {
	position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 110%;
    transform: translateX(-50%);
    z-index: -1;
}

.home-strategy-graphic #mainlines {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 850px) {
	.home-strategy {
		padding: 75px 9% 30vh 9%;
	}
	.dot {
		position: absolute;
		left: -9999px;
		width: 50px;
		z-index: 0;
	}

}


/* Contact Info  */

.contact-info {
	margin: 100px 0 0 auto;
    max-width: 650px;
}

.locations-inner {
	display: grid;
	grid-template-columns: 1fr 650px;
}

.contact-info .contact-info-inner,
.locations-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.contact-info h4,
.locations h4 {
	color: var(--primary);
    font-size: 16px;
    margin-bottom: 10px;
}

.locations h4 {
	color: var(--secondary);
}

.contact-info a,
.locations a {
	font-size: 18px;
    color: var(--secondary);
    text-decoration: none;
    line-height: 1.6em;
    
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}

.contact-info a:hover,
.locations a:hover {
	opacity: 0.8;
}

.contact-graphic {
	position: absolute;
    top: 50%;
    width: 60%;
    left: 12%;
    transform: translateY(-40%);
    z-index: -1;
}

@media screen and (max-width: 1250px) {
	
	.locations-inner {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 25px;
	}
}

@media screen and (max-width: 1000px) {
	.contact-graphic {
	    position: absolute;
	    top: 50%;
	    width: 80%;
	    left: 5%;
	    transform: translateY(-30%);
	}
}

@media screen and (max-width: 850px) {
	.contact-info .contact-info-inner {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 30px;
	}
	
	.contact-info h4 {
		color: var(--primary);
	    font-size: 14px;
	    margin-bottom: 10px;
	}
	
	.contact-info a,
	.locations a {
		font-size: 16px;
	    color: var(--secondary);
	    text-decoration: none;
	}
	
	.contact-info{ margin: 50px 0 0 0;}
	
	.contact-graphic {
		position: absolute;
    top: 5%;
    width: 180%;
    left: -60%;
    transform: translateY(5%) rotateY(-180deg);
	}
}

@media screen and (max-width: 600px) {
	.contact-info .contact-info-inner,
	.locations-container {
	    display: grid;
	    grid-template-columns: 1fr;
	    grid-gap: 20px;
	}
}

/* Strategy */

.strategy-graphic.svg-graphic {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	height: 95%;
	width: 100%;
	z-index: -1;
}

.strategy-secondary-inner {
	padding: 30vh 0 50vh 0;
}

.strategy-secondary-inner > div {
	padding: 0 10%;
	grid-column-start: 2; 
}

.strategy-secondary-inner h1, 
.strategy-secondary-inner h2, 
.strategy-secondary-inner h3, 
.strategy-secondary-inner h4, 
.strategy-secondary-inner h5, 
.strategy-secondary-inner h6 {
	max-width: 450px;
}

.strategy-secondary-inner p {
	max-width: 390px;
}

@media screen and (max-width: 1000px) {
	.strategy-secondary-inner > div {
		padding: 0 0;
		grid-column-start: 1; 
	}
}

@media screen and (max-width: 850px) {	
	.strategy-secondary-inner {
	    padding: 0vh 0 0 0;
	}
	
	.strategy-graphic.svg-graphic {
		display: none;
	}
}

/* Newsletter */

.newsletter-container footer .mobility-matters {
	display: none;
}

.newsletter p {
	max-width: 650px;
}

.newsletter .mobility-matters {
	margin-bottom: 0;
}

.newsletter-graphic{
	position: absolute;
    right: 10vw;
    top:50%;
    height: 70vh;
    width: 70vh;
    max-height: 1000px;
    transform: translateY(-50%);
    z-index: -1;
}


.new-circle {
  position: absolute;
  transform-origin: center ;
}

.new-circle.new-circle-small {
   width: 7%;
   height: 7%;
}

.new-circle.new-circle-smedium {
   width: 15%;
   height: 15%;
}

.new-circle.new-circle-med {
   width: 20%;
   height: 20%;
}

.new-circle.new-circle-lg {
   width: 50%;
   height: 50%;
}

.new-circle div {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background: #9ba59b;
}

.new-circle .inner-circle {
    border: 1px solid #9ba59b;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: center;
    
    background: transparent;
}

.new-circle.new-circle-small .inner-circle {
  animation: newsPulseSmall 4s infinite both;
}

.new-circle.new-circle-lg .inner-circle {
  animation: newsPulseSmall 10s infinite both;
}

.new-circle.new-circle-smedium .inner-circle {
  animation: newsPulse 8s infinite both;
}

.new-circle.new-circle-med .inner-circle {
  animation: newsPulse 3s infinite both;
}

.new-circle-1 {
  right: 3%;
  top: 30%;
}

.new-circle-2 {
  left: 60%;
  top: 30%;
}

.new-circle-3 {
  left: 3%;
  top: 40%;
}

.new-circle-4 {
  left: 30%;
  top: 5%;
}

.new-circle-5 {
  left: 70%;
  top: 70%;
 
}

.newsletter-graphic-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.newsletter-graphic-svg line {
  stroke: #dadada;
  stroke-width: 1px;
}

/*
@keyframes move1 {
	0% {
		transform: none;
        transform-origin: left;
	}
	
	100% {
		transform: rotate(300deg);
        transform-origin: left;
	}
}
*/

@keyframes newsPulseSmall {
	0% {
		transform: translate(-50%, -50%) scale(0.8);
	}

	50% {
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		transform: translate(-50%, -50%) scale(0.8);
	}
}

@keyframes newsPulse {
	0% {
		transform: translate(-50%, -50%) scale(0.9);
	}

	50% {
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		transform: translate(-50%, -50%) scale(0.9);
	}
}


@media screen and (max-width: 850px) {	
	.newsletter-graphic {
		top: auto;
	    right: 20vw;
	    bottom: 30px;
	    width: 60vw;
	    height: 60vw;
	    transform: none;
	}
}

/* Animations */

.lineParent {
	overflow: hidden;
}


.animate, .animate-bottom, .animate-body * {
	visibility: hidden;
}


.svg-fade {
	animation: fadeOn 1s ease backwards;
}

@keyframes fadeOn {
	0% {
		opacity: 0;
		visibility: hidden;
	}	
	
	100% {
		opacity: 1;
		visibility: visible;
	}
}

.location-item span {
	display: block;
}

p.get-directions {
	display: inline-block;
	margin-top: 5px;
	font-size: 16px;
	
    background-image: linear-gradient(180deg,rgba(26,26,26,.25) 75%,rgba(26,26,26,.25) 0);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 98%;
}

