doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Investing in the next generation of quantum speed AI Fintech Companies')
        meta(name='author', content='Diophantus Partners LLC')

        title Diophantus.ai

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap', rel='stylesheet')
        link(href='css/styles.css', rel='stylesheet')

    body(style="font-family: 'Montserrat', sans-serif; background-color: darkgray;")

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                #company-name(style="font-weight: 700; text-align: left;") Diophantus.ai
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='strategy.html') Strategy
                        li.nav-item
                            a.nav-link(href='team.html') Team
                        li.nav-item
                            a.nav-link(href='contact.html') Contact

        // Main Section
        main
            h1(style="font-weight: 700; text-align: center;") Investing in the next generation of quantum speed AI Fintech Companies
            p We are a venture capital firm focused on supporting entrepreneurs who are boldly reshaping mobility. We invest in early-stage startups directly enabling efficient movement today, as well as "horizontal" enabling technologies that are shaping the future of mobility.

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                p(style="text-align: center;") &copy; Copyright Diophantus Partners LLC
                .social.d-flex.justify-content-center
                    a(href='#') Facebook
                    a(href='#') Twitter
                    a(href='#') LinkedIn
                    a(href='#') Legal Disclaimer

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
